<ion-view view-title="About">
 <ion-content>
  <div class="card">
   <div class="item item-text-wrap">
    Boy Scout Troop 116 is based in Sherwood Oregon. The Troop is part of the Wapiti District and <a href="http://www.cpcbsa.org/">Cascade Pacific Council</a>.
    <br />
    Troop 116 Meetings are typically every Monday at Sherwood Senior Center. Meeting times are 6:30pm to 8:00pm.
    <br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2803.396817882961!2d-122.84371700000001!3d45.360986999999994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54956cef6c16d50f%3A0xb8d77cb8e36819a7!2sSherwood+Senior+Community+Center!5e0!3m2!1sen!2sus!4v1423434028971" width="600" height="450" frameborder="0" style="border:0"></iframe>
   </div>
  </div>
 </ion-content>
</ion-view>
